<div class="auth-wrapper">
  <div class="auth-content">
    <div class="card">
      <div class="row align-items-center text-center">
        <div class="col-md-12">
          <div class="card-body">
            <form (ngSubmit)="onSubmit($event)">
              <h4 class="mb-3 f-w-400">Login</h4>
              <div class="input-group mb-3">
                <input
                  type="email"
                  class="form-control"
                  id="floatingInput"
                  [class.is-invalid]="submitted() && loginForm.email().invalid()"
                  placeholder="Enter Email Address"
                  [field]="loginForm.email"
                />
                @if (submitted() && loginForm.email().invalid()) {
                  <div class="invalid-feedback">
                    @for (error of loginForm.email().errors(); track error.kind) {
                      <div>{{ error.message }}</div>
                    }
                  </div>
                }
              </div>
              <div class="input-group mb-4">
                <input
                    type="password"
                    id="password"
                    class="form-control"
                    [field]="loginForm.password"
                    [class.is-invalid]="submitted() && loginForm.password().errors().length > 0"
                    placeholder="Enter Password"
                  />
                @if (submitted() && loginForm.password().errors().length > 0) {
                  <div class="invalid-feedback">
                    @for (error of loginForm.password().errors(); track error.kind) {
                      <div>{{ error.message }}</div>
                    }
                  </div>
                }
              </div>
              <div class="d-grid">
                <button class="btn btn-block btn-primary mb-4">Login</button>
              </div>
            </form>
            <p class="mb-0 text-muted">
              Don’t have an account?
              <a [routerLink]="['/auth/register']" class="f-w-400">Signup</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
