<ul class="navbar-nav ms-auto">
  <li>
    <div class="dropdown drp-user" ngbDropdown placement="auto">
      <a href="javascript:" ngbDropdownToggle>
        {{ name }} <i class="feather icon-chevron-down"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-end profile-notification" ngbDropdownMenu>
        <ul class="pro-body">
          <li>
            <!--<a href="javascript:" class="dropdown-item">
              <i class="feather icon-user"></i>
              Profile
            </a>-->
          </li>
          <li>
            <a (click)="logout()" class="dropdown-item">
              <i class="feather icon-lock"></i>
              Logout
            </a>
          </li>
        </ul>
      </div>
    </div>
  </li>
</ul>
