@if (this.requisition()) {
  <app-display-specifications [requisition]="requisition()"></app-display-specifications>
}

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Quote</th>
        <th>Preferred Quote</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      @for (quote of quotes(); track quote._id) {
        <tr>
          <td>{{ quote.fileName }}</td>
          @if (quote.preferredQuote) {
            <td><i class="feather icon-check-circle"></i></td>
          } @else {
            <td><i class="feather icon-x-circle"></i></td>
          }
          <td><button type="button" class="btn btn-warning" (click)="viewQuote(quote.pdfUrl)">View <i class="feather icon-eye"></i></button></td>                    
        </tr>
      } @empty {
        <tr><td colspan="2"><p>No items found</p></td></tr>
      }
    </tbody>
  </table>
</div>
<div class="button-row">
  <button type="button" class="btn btn-danger" (click)="cancel()">Cancel <i class="feather icon-x"></i></button>
  <button type="button" class="btn btn-danger" (click)="rejectWith()">Reject with new preferred quote<i class="feather icon-x"></i></button>
  <button type="button" class="btn btn-danger" (click)="reject()">Reject Outright<i class="feather icon-x"></i></button>
  <button type="submit" class="btn btn-success" (click)="approve()">Approve <i class="feather icon-flag"></i></button>
</div>